@CHARSET "UTF-8";
body{overflow-x:hidden;width:100%;height:auto;font-family:"闂傚倸鍊搁崐宄懊归崶顒夋晪鐟滃秹婀侀梺缁樺灱濡嫰寮告担绯曟斀闁绘ê鐤囨竟妯肩棯閹规劦鍤欓柍瑙勫灴閹晠宕ｆ径瀣€风紓鍌欑劍閸旀牠銆冮崱娆愬床婵炴垯鍨圭粻锝嗙箾閸℃绠冲ù鐘荤畺閺岋絾鎯旈姀锝咁棟闂佸摜鍠愰幐鎶界嵁閸愩剮鏃堝川椤旇姤鐝抽梺纭呭亹鐞涖儵宕滃┑瀣€剁€广儱顦伴埛鎴︽煙閹澘袚闁轰線浜堕弻锝呂旈崘銊㈡瀰閻庢鍠涢褔鍩ユ径濞㈢喖鏌ㄧ€ｅ灚缍屽┑鐘愁問閸犳銆冮崨顓囨稑螖閳ь剟鍩㈤幘璇查唶闁哄洨鍟块幏娲⒑閼姐倕鏋戞繝銏∶埢鎾诲煛閸涱喚鍘甸梺鍛婂灟閸婃牜鈧熬鎷�", "Microsoft YaHei";}
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.pc{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww3.sinaimg.cn/bmiddle/0068TJS4gw1eu60rkfgwwj306601o0sl.jpg) no-repeat;}
.mva{margin-top:20px;float:left;width:220px;height:391px;background:url(http://ww2.sinaimg.cn/mw690/005uJx3ujw1f25qu7zyf0j30640avt91.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
